.itemRoot {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.itemChild {
  width: 100%;
}
.item {
  width: 100%;
  position: relative;
}

.childItem {
  width: 100%;
  transition: height 0.2s, opacity 0.2s ease-in;
}