.disclosures {
  max-width: 90%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #dbeafe;
}
.disclosures > * + * {
  border-top: 1px solid #dbeafe;
}
.summary {
  position: relative;
  display: block;
  padding: 1rem 3rem 1rem 1.5rem;
  text-align: left;
  cursor: pointer;
}
.summary::-webkit-details-marker {
  display: none;
}
.details[open] .summary {
  background-color: #dbeafe;
}
@media (hover: hover) {
  .summary:hover {
    background-color: #dbeafe;
  }
}
.icon {
  position: absolute;
  top: 0;
  right: 1rem;
  bottom: 0;
  width: 10px;
  height: 10px;
  margin: auto;
  border: solid #dbeafe;
  border-width: 2px 2px 0 0;
  transform: rotate(135deg);
}
.details[open] .icon {
  transform: rotate(-45deg);
}
.text {
  padding: 1rem 1.5rem;
}